<html>
<head></head>
<body>
<h2>Pure-Shop project!</h2>
<h3>Categories list:</h3>

<p style="margin-left: 10px">
    Username: {{ username }} <br/>
    Password: {{ password }}
</p>

<p>Have a great shopping!</p>
</body>
</html>